.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #636262;
}

body {
  margin: 0;
  padding: 0;
}
canvas{
  outline: none;
}
.invisible{
  position: absolute;
  width: 200px;
  height: 84px;
  cursor: pointer;
  background: transparent;
  border: none;
}